.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0;
  margin-bottom: 20px;
}

.left {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
