.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  padding: 30px 0;
  margin-bottom: 20px;
}

.left {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.filter {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  text-decoration: underline;
}

.right {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.sortWrapper {
  position: relative;
  cursor: pointer;
}

.sortTrigger {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  font-weight: 600;
}

.dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-top: 0.5rem;
  padding: 0.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: max-content;
  min-width: 220px;
}

.dropdownItem {
  padding: 0.75rem 1rem;
  cursor: pointer;
  font-size: 0.95rem;
  transition: background-color 0.2s ease;
}

.dropdownItem:hover {
  background-color: #f3f3f3;
}

.active {
  font-weight: 800;
  background-color: #f9f9f9;
  color: #a22121;
}

.leftMobile {
  display: none;
}

@media (max-width: 768px) {
  .container {
    display: flex;
    justify-content: space-between;
    padding: 30px 15px;
  }
  .left {
    display: none;
  }

  .leftMobile {
    display: block;
    padding-left: 20px;
  }

  .sortWrapper {
    /* border: 1px solid red; */
    border-left: 1px solid #0f0e0e;
    padding-left: 20px;
  }
}
