.container {
  padding: 70px 70px 0px 70px;
  color: white;
  background-color: #000000;
}

.topRow {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #808080;
}

.newsletterForm {
  padding-top: 50px;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.emailInput {
  padding: 20px;
  width: 350px;
  flex: 1;
}

.submitButton {
  padding: 5px 50px;
  border: 2px solid #262626;
  border-radius: 5px;
  background-color: transparent;
  color: #4c4c4c;
  font-size: 15px;
  font-weight: 700;
}

.leftColumn > *,
.rightColumn > *,
.leftCol > *,
.middleCol > *,
.rightCol > *,
.contactInfo > * {
  margin-bottom: 20px;
}

.general-wrapper {
  display: block; /* Default: stacked vertically */
}

.general {
  display: flex;
  align-items: center;
  font-size: 13px;
  gap: 0.2rem;
}

.transaction {
  font-size: 11px;
}

.bottomRow {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  padding-right: 50px;
}

.copyright {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  font-size: 12px;
}

.mobileSeparator,
.generalMobileSeparator,
.metaMuseAcceptsMOBILE {
  display: none;
}

.metaMuseAcceptsWEB > h3 {
  padding-bottom: 20px;
}

@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .topRow {
    flex-direction: column;
    gap: 2rem;
  }

  .leftColumn {
    border-bottom: 1px solid white;
  }

  .newsletterForm {
    padding-top: 0px;
  }

  .emailInput {
    width: 60%;
    padding: 12px;
  }

  .submitButton {
    padding: 12px;
  }

  .rightColumn {
    display: flex;
    flex-direction: column;
  }

  .contactInfo {
    display: flex;
    gap: 1rem;
    border-bottom: 1px solid white;
  }

  .mobileSeparator {
    display: inline-block;
    width: 12px;
    height: 12px;
    object-fit: contain;
    align-self: center;
  }

  .generalMobileSeparator,
  .metaMuseAcceptsMOBILE {
    display: flex;
  }

  .metaMuseAcceptsMOBILE {
    display: flex;
    flex-direction: column;
    padding: 20px 0px;
    font-size: 13px;
  }

  .metaMuseAcceptsMOBILE > h3 {
    padding-bottom: 20px;
  }

  .transaction,
  .leftCol > p,
  .middleCol > p,
  .removeForMobile,
  .metaMuseAcceptsWEB {
    display: none;
  }

  .bottomRow {
    display: flex;
    flex-direction: column;
    padding: 0px;
  }

  .leftCol,
  .middleCol,
  .rightCol {
    display: flex;
    justify-content: space-between;
    padding: 20px 0px 0px 0px;
    font-size: 13px;
    border-bottom: 1px solid white;
  }
}
