.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
}

.loremIpsum {
  display: flex;
  align-items: center;
  height: 30px;
  width: 100%;
  justify-content: space-around;
  background-color: #000000;
  color: #eb4c6b;
  font-size: smaller;
}

.loremIpsum div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.loremIpsum img {
  width: 15px;
  height: 15px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 100px;
  margin: 40px 0;
}

.logoLeft {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.logoRight {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  justify-content: flex-end;
}

.language {
  display: flex;
  gap: 0;
  font-weight: 700;
}

.language img {
  margin-left: 0 !important;
}

.logoRight img {
  margin-left: 15px;
}

.logoRight img:first-child {
  margin-left: 0;
}

.logoCenter {
  text-align: center;
  flex: 1;
  font-weight: 900;
  font-size: 2rem;
}

.nav {
  display: flex;
  gap: 2rem;
  margin-bottom: 30px;
}

.nav a {
  text-decoration: none;
  color: #555;
  font-weight: 600;
  transition: color 0.3s ease;
}

.nav a:hover {
  color: #000;
}

.logoLeftMOBILE {
  display: none;
}

@media (max-width: 768px) {
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 5px !important;
    margin: 0px 0;
  }

  .logoLeft {
    align-items: center;
    justify-content: flex-start;
  }

  .logoCenter {
    font-weight: 700;
  }

  .logoLeftMOBILE {
    display: inline-block;
  }

  .logoImageMOBILE {
    width: 30px;
  }

  .logoRight {
    gap: 0rem;
  }

  .logo a {
    font-size: 1.2rem;
  }

  .language,
  .profileMOBILE,
  .nav {
    display: none;
  }

  .loremIpsum div:first-child,
  .loremIpsum div:last-child {
    display: none;
  }
}
