/* .wrapper {
  display: flex;
  gap: 2rem;
  padding: 2rem 0;
} */

.wrapper {
  display: flex;
  gap: 2rem;
  padding: 2rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.products {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 2rem;
}

.productImage {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.title {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  padding: 1rem 1rem 0.2rem 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.sidebar {
  width: 250px;
  padding-left: 1rem;
}

.sidebar h4 {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.sidebarHeading {
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
}

.filterSection {
  padding: 1rem 0rem;
  border-bottom: 1px solid #eeeeee;
}

.filterHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 10px;
}

.arrowIcon {
  width: 16px;
  height: 16px;
}

.checkboxList {
  list-style: none;
  padding-left: 1rem;
  margin-top: 0.5rem;
}

.checkboxList li {
  margin-bottom: 0.5rem;
}

.summary {
  font-size: 0.8rem;
  color: #555;
  margin-bottom: 0.5rem;
  padding-left: 2px;
}

.checkboxLabel {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.unselectAll {
  font-size: 0.85rem;
  font-weight: 500;
  color: #a22121;
  cursor: pointer;
  margin-bottom: 0.5rem;
  padding-left: 2px;
  text-decoration: underline;
}

.unselectAll:hover {
  opacity: 0.8;
}

.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
}

.signIn {
  font-size: 13px;
  text-align: left;
}

@media (max-width: 768px) {
  .productImage {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .card {
    padding: 0.8rem;
  }

  .sidebar {
    display: none;
  }

  .wrapper {
    flex-direction: column;
  }

  /* .products {
    grid-template-columns: repeat(2, 1fr);
  } */
}

/* @media (max-width: 768px) {


  .productImage {
    width: 100%;
    height: auto;
    object-fit: contain;
  }

  .card {
    padding: 0.8rem;
  }

  .sidebar {
    display: none;
  }

  .wrapper {
    flex-direction: column;
  }
} */
